@charset "UTF-8";
@font-face {
    font-family: hobo;
    src: url("font/hobostd.woff");
}
@font-face {
    font-family: comic;
    src: url("font/comic.ttf");
}
@font-face {   
    font-family: comicbd;
    src: url("font/comicbd.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-height: 100vh;
    min-height: 100vh;
    max-width: 100%;
    background-image: url("img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main {
    width: 100%;
    height: calc(100vh - 55px);
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Login + Base */
section.formulario {
    right: 0;
    margin: 0 8vw;
    width: 40vw;
    height: 40vw;
    max-height: calc(90vh - 55px);
    background-image: url("img/index.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
section.formulario hr {
    background-color: #31BCD5;
    box-shadow: 1px 1px 1px;
    height: 4px;
    border: none;
    margin-bottom: 3%;
    width: 100%;
}
.notificacao {
    display: none;
    position: fixed;
    top: -16vh;
    background-color: #ACFFAA;
    height: 15vh;
    min-height: 80px;
    width: 52vw;
    margin: 0 calc(24vw - 4px) 0 calc(24vw - 4px);
    z-index: 1000;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.9) 0 0 20px;
    border: 4px solid #39E600;
}
.notificacao h3 {
    font-size: calc(11px + 1vw);
    color: #4FFF4F;
    letter-spacing: 0.1vw;
    text-align: center;
    margin-top: calc(8.5vh - 8px);
}
.notificacao h3 img {
    position: relative;
    top: 0.3vw;
    margin-right: 5px;
    width: calc(1.5vw + 2px);
    margin: 0 5px;
}
.notificacao span {
    margin: 0 5px;
}
div.manter-logado {
    font-size: calc(5px + 1vw);
    text-shadow: 1px 0 0 rgb(0, 0, 0), -1px 0 0 rgb(0, 0, 0), 0 1px 0 rgb(0, 0, 0),  0 -1px 0 rgb(0, 0, 0),  0 0 1px rgb(0, 0, 0);
    font-family: comic;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #72D1E2;
    width: 20vw;
    min-width: 200px;
    margin: 0.5% 1% 1% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.formulario form div.manter-logado input {
    width: auto;
    height: auto;
    margin: 8px;
    transform: scale(1.7);
    box-shadow: none; 
    background-color: #E6F7FA;
}
div.manter-logado label {
    white-space: nowrap;
    padding-bottom: 0.2vw;
    user-select: none;
}
/* Nova Conta */
body section.nova-conta {
    background-image: url("img/nova_conta.png");
    max-height: calc(95vh - 55px);
}
section.nova-conta h2 {
    font-size: calc(8px + 2.2vw);
}
body section.nova-conta form {
    top: 20%;
}
form div.erro {
    position: relative;
    width: 100%;
}
div#erro-senha, div#erro-login, div#erro-logar {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    top: -2vw;
    right: 18vw;
    height: 11.8vw;
    width: 33.5vw;
    min-width: 360px;
    min-height: 110px;
    font-family: comic;
    color: #FFFFFF;
    background-image: url("img/input-erro.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0.3vw 3.5vw 0.2vw 1.5vw;
    transition: opacity 0.3s ease-in-out;
}
body div#erro-logar {
    top: -2.5vw;
    right: 18vw;
    height: 7vw;
    width: 25vw;
    min-width: 220px;
    min-height: 80px;
}
div#erro-senha h3, div#erro-login h3, div#erro-logar h3 {
    font-size: calc(11px + 1vw);
    margin: 5px 0;
}
div#erro-senha ul, div#erro-login ul, div#erro-logar ul {
    list-style: none;
    font-size: calc(5px + 1vw);
    font-weight: bolder;
    letter-spacing: 0.02vw;
    text-shadow: 1.35px 0 0 rgb(0, 0, 0), -1.35px 0 0 rgb(0, 0, 0), 0 1.35px 0 rgb(0, 0, 0),  0 -1.35px 0 rgb(0, 0, 0),  0 0 1.35px rgb(0, 0, 0);
}
div#erro-senha li img, div#erro-login li img, div#erro-logar li img {
    position: relative;
    top: 0.3vw;
    margin-right: 5px;
    width: 1.8vw;
}
/* Recados */
main.recados {
    position: relative;
    width: 96%;
    height: auto;
    background-color: rgba(230, 247, 250, 0.9);
    border: 5px solid #75b6f8;
    border-radius: 10px;
    margin: 0 2%;
    display: block;
    clear: both;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px;
}
header {
    width: 100%;
}
div.logo-menor img {
    float: left;
    width: 15vw;
    margin: 1vw;
}
div.painel-conta {
    display: flex;
    align-items: center;
    float: right;
    background-image: url("img/fundo-conta.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4vw;
    margin: 3vw 1.5vw 1.5vw 1.5vw;
    border: 4px solid #75b6f8;
    box-shadow: #000000cc 0 0 3px;
}
div.painel-conta h3 {
    color: #79BCFF;
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
    font-size: calc(10px + 1vw);
    margin: 5px 5px 5px 5px;
    letter-spacing: 0.5px;
}
div.icone-usuario {
    display: flex;
    align-items: center;
}
div.icone-usuario img {
    display: block;
    float: left;
    width: 3.5vw;
    margin: 5px;
}
div.botao-sair, div.botao-exclusao {
    border-left: 4px solid #75b6f8;
    height: 100%;
    padding: 5px 2px 5px 0px;
    margin-left: 0.7vw;
}
div.painel-conta div.botao-exclusao {
    border: none;
    margin-left: 0;
}
div.botao-sair img, div.botao-exclusao img {
    display: block;
    width: 3vw;
    margin: 5px 2px;
    cursor: pointer;
}
div.botao-sair img:hover, div.botao-exclusao img:hover {
    filter: brightness(1.3);
    transform: scale(1.05);
}
main.recados section.barra-titulo {
    position: relative;
    display: table;
    text-align: center;
    width: 100%;
    background-image: url("img/fundo-titulo.jpg");
    background-repeat: repeat-x;
    background-size: contain;
    border-bottom: solid #75b6f8 5px;
}
.botao-adicionar {
    position: relative;
    height: 100%;
    width: 100%;
}
main.recados section.barra-titulo div.secao-adicionar {
   border-left: solid 5px #75b6f8;
   float: right;
   padding: 10px 25px 10px 25px;
   height: 100%;
   background-image: url("img/fundo-botao-sair.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
}
main.recados section.barra-titulo div.titulo {
    display: table-cell;
    vertical-align: middle;
    width: 80%;
}
main.recados section.barra-titulo img {
    position: absolute;
    top: -4.5px;
    transform: translateX(-11px) translateY(1.8px);
    width: 4vw;
    min-width: 50px;
    filter: brightness(0.9);
    z-index: 1000;
}
main.recados section.barra-titulo button {
    margin: 1% 5% 0.5% 5%;
    padding: 2px 10px 4px 35px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #03d103;
}
main.recados section.barra-titulo h1 {
    font-family: comicbd;
    font-size: calc(23px + 1.5vw);
    color: #88c1f9;
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
}
section.lembretes {
    min-height: 55vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Estilização Tabela Padrão */
section.lembretes table {
    width: 96%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 1% 1% 1%;
    color: #F0F2FB;
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
    font-family: comic;
    font-weight: lighter;
    font-size: calc(2px + 1.4vw);
}
section.lembretes table span {
    font-size: calc(5px + 1.4vw);
    font-family: comicbd;
    color: #BAC7ED;
}
section.lembretes table th {
    border: solid #859CDF 4px;
    padding: 5px 10px;
}
section.lembretes table th.sombra {
    box-shadow: 4px 3.5px 3.5px #000000;
}
section.lembretes table th button {
    font-family: comicbd;
    font-size: calc(7px + 1vw);
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 1.5px 1px 1px #000000; 
    padding: 0.1vw 0.5vw 0.4vw 0.5vw;
    letter-spacing: 0.3px;
    margin: 0 0.1vw;
}
body section.lembretes table th button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}
section.lembretes table th.botoes {
    text-align: center;
    width: 18%;
    min-width: 190px;
} 
section.lembretes table th button.botao-editar {
    background-color: #FFCC00;
    filter: brightness(0.95);
    transform: translateZ(0);
}
section.lembretes table th button.botao-apagar {
    background-color: #e92b15;
    filter: brightness(0.9);
    transform: translateZ(0);
} 
section.lembretes table th.acao {
    max-width: 39%;
}
section.lembretes table tr {
    background-image: url("img/fundo-lembretes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
section.lembretes table tr.espacamento {
    background-image: none;
}
section.lembretes table tr.espacamento th {
    border: none;
    padding: 5px;
    height: 5vh;
}
section.menu, section.notifi-exclusao-conta {
    position: fixed;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 2000;
}
section.menu form {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}
section.menu input, section.menu textarea {
    font-family: comic;
    font-size: calc(3px + 1.4vw);
    text-transform: lowercase;
    width: auto;
    height: 3vw;
    margin: 0;
    padding: 0px 5px;
    border: 2px solid #859CDF;
    box-shadow: 2px 1.5px 1.5px; 
    background-color: #E6F7FA;
}
section.menu input#input-acao {
    width: 80%;
}
section.menu input:focus, section.menu textarea:focus {
    outline: none;
}
section.menu table textarea {
    width: 80%;
    height: 12vh;
    min-height: 80px;
}
body section.menu textarea {
    width: 100%;
    border: 2px solid #859CDF;
    padding: 0 5px;
    resize: none;
}
section.menu form div.botoes, section.notifi-exclusao-conta div.botoes {
    display: inline-block;
    width: 100%;
    text-align: center;
}
section.menu button, section.notifi-exclusao-conta button {
    font-family: comicbd;
    font-size: calc(11px + 1.2vw);
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 1.5px 1px 1px #000000; 
    padding: 0.1vw 6vw 0.4vw 6vw;
    letter-spacing: 0.3px;
    margin: 0 0.5%;
}
section.menu button.botao-confirmar, section.notifi-exclusao-conta button.botao-confirmar {
    background-color: #0de80d;
    filter: brightness(0.8);
}
section.menu button.botao-cancelar, section.notifi-exclusao-conta button.botao-cancelar {
    background-color: #e92b15;
    filter: brightness(0.9);
} 
section.menu form button:hover, section.notifi-exclusao-conta button:hover {
    filter: brightness(1.1);
    cursor: pointer;
}
section.lembretes div.aviso-base {
    width: 100%;
    height: 100%;
    min-height: 54vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.lembretes div.aviso-base div {
    padding: 9.5vw 4vw 5.5vw 4vw;
    background-image: url("img/nuvem.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
section.lembretes div h2 {
    font-size: calc(11px + 1vw);
    color: #FFFFFF;
    letter-spacing: 0.5px;
}
footer.recados {
    position: relative;
    background-image: none;
    border-top: none;
    height: 20px;
    width: auto;
}
/* Padrões */
.fundo-travado {
    overflow: hidden;
}
.notifi-exclusao-conta {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1001;
}
div.main-exclusao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #75B6F8;
    border-radius: 10px;
    background-color: #D2E8F3;
    box-shadow: 3px 2px 2px rgba(0, 0, 0, 0.65); 
    padding: 1% 2.5%;
    margin: 1%;
}
div.main-exclusao h2 {
    margin: 0% 4px 2% 4px;
    letter-spacing: 1px;
}
a {
    color: #00FFFF;
    text-underline-position: under;
}
h2 {
    font-family: comicbd;
    text-align: center;
    font-size: calc(23px + 1vw);
    font-weight: lighter;
    color: #72D1E2;
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
}
h3 {
    color: #FFFFFF;
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
    font-family: comic;
    font-size: calc(11px + 1vw);
}
h4 {
    font-family: comic;
    font-weight: normal;
    color: #00FFFF;
    font-size: calc(7px + 1vw);
    text-shadow: 1.1px 0 0 rgb(0, 0, 0), -1.1px 0 0 rgb(0, 0, 0), 0 1.1px 0 rgb(0, 0, 0),  0 -1.1px 0 rgb(0, 0, 0),  0 0 1.1px rgb(0, 0, 0);
}
section.formulario form {
    position: relative;
    top: 22%;
    left: 9.2vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section.formulario form input {
    font-size: calc(5px + 1.4vw);
    width: 80%;
    height: 3vw;
    margin: 2% 10%;
    padding: 0 2%;
    border: 2px solid #2296AA;
    box-shadow: 2px 1.5px 1.5px; 
    background-color: #E6F7FA;
}
input.input-login {
    text-transform: lowercase;
}
section.formulario form input::placeholder {
    text-align: center;
    font-family: comic;
    color: #BBBBBB;
    text-transform: none;
}
section.formulario form input:focus {
    outline: none;
}
section.formulario form button {
    margin: 1% 5% 0.5% 5%;
    width: 90%;
    border: 3px solid #00BB00;
    border-radius: 5px;
    box-shadow: 2px 1.5px 1.5px; 
    background-color: #00BB00;
}
section.formulario form button:hover {
    cursor: pointer;
    background-color: #00E100;
    border: 3px solid #00E100;
}
section.logo img {
    left: 0;
    height: 27vw;
    max-height: calc(80vh - 55px);
    width: 27vw;
    margin: 0 8vw;
}
footer {
    position: fixed;
    display: grid;
    align-items: center;
    border-top: 5px solid #007FFF;
    bottom: 0;
    width: 100vw;
    height: 55px;
    min-height: 5vh;
    background-image: url("img/footer.jpg");
    background-repeat: repeat-x;
    background-size: contain;
}
footer h3 {
    font-size: calc(13px + 1vw);
    font-family: hobo;
    font-weight: normal;
    color: #84C1FF;
    text-shadow: 1.5px 0 0 rgb(0, 0, 0), -1.5px 0 0 rgb(0, 0, 0), 0 1.5px 0 rgb(0, 0, 0),  0 -1.5px 0 rgb(0, 0, 0),  0 0 1.5px rgb(0, 0, 0);
    letter-spacing: 1px;
    text-align: center;
}
/* Animações */
.botao-maior {
    animation-name: botao-maior;
    animation-duration: 0.28s;
    animation-fill-mode: none;
}
@keyframes botao-maior {
    0% {transform:scale(1);}
    50% {transform:scale(0.92); }
    100% {transform:scale(1);}
}
.botao-menor {
    animation-name: botao-menor;
    animation-duration: 0.28s;
    animation-fill-mode: none;
}
@keyframes botao-menor {
    0% {transform:scale(1);}
    50% {transform:scale(0.85);}
    100% {transform:scale(1);}
}
.novaContaAviso {
    animation-name: nova-conta-notif;
    animation-duration: 4.4s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
@keyframes nova-conta-notif {
    0% {transform:translateY(0vh);}
    16% {transform:translateY(calc(8vh + 4px));}
    84% {transform:translateY(calc(8vh + 4px));}
    100% {transform:translateY(0vh);}
}
